.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    background-color: #f8f9fc;
}

/* SIDEBAR CONTAINER */
.sidebar {
    background-color: #1a252f; /* Dark Slate */
    color: white;
}

/* TOP WHITE BAR */
.top-row {
    background-color: white;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-bottom: 1px solid #e3e6f0;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
    z-index: 10;
}

/* DESKTOP VIEW */
@media (min-width: 641px) {
    .page {
        flex-direction: row;
        height: 100vh;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .content {
        padding: 2rem;
    }
}