@using Microsoft.AspNetCore.Components.Routing

<div class="nav-menu">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="oi oi-dashboard"></span>
        <span class="nav-text">Dashboard</span>
    </NavLink>
    
    <NavLink class="nav-link" href="clients">
        <span class="oi oi-people"></span>
        <span class="nav-text">Clients</span>
    </NavLink>
    
    <NavLink class="nav-link" href="funds">
        <span class="oi oi-dollar"></span>
        <span class="nav-text">Financials</span>
    </NavLink>
    
    <NavLink class="nav-link" href="reports">
        <span class="oi oi-bar-chart"></span>
        <span class="nav-text">Reports</span>
    </NavLink>
    
    <div class="nav-divider"></div>
    
    <NavLink class="nav-link" href="settings">
        <span class="oi oi-cog"></span>
        <span class="nav-text">Settings</span>
    </NavLink>
</div>
