@using Microsoft.AspNetCore.Components.Routing

<div class="nav-menu">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="nav-icon"><i class="bi bi-grid-1x2"></i></span>
        <span class="nav-text">Dashboard</span>
    </NavLink>
    
    <NavLink class="nav-link" href="people">
        <span class="nav-icon"><i class="bi bi-people"></i></span>
        <span class="nav-text">People</span>
    </NavLink>

    <NavLink class="nav-link" href="households">
        <span class="nav-icon"><i class="bi bi-house-door"></i></span>
        <span class="nav-text">Households</span>
    </NavLink>
    
    <NavLink class="nav-link" href="funds">
        <span class="nav-icon"><i class="bi bi-wallet2"></i></span>
        <span class="nav-text">Financials</span>
    </NavLink>
    
    <NavLink class="nav-link" href="reports">
        <span class="nav-icon"><i class="bi bi-bar-chart"></i></span>
        <span class="nav-text">Reports</span>
    </NavLink>
    
    <div class="nav-divider"></div>
    
    <NavLink class="nav-link" href="settings">
        <span class="nav-icon"><i class="bi bi-gear"></i></span>
        <span class="nav-text">Settings</span>
    </NavLink>
</div>
