@using Microsoft.AspNetCore.Components.Routing

<div class="nav-menu">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="nav-icon"><i class="bi bi-grid-1x2"></i></span>
        <span class="nav-text">Dashboard</span>
    </NavLink>
    
    <NavLink class="nav-link" href="clients">
        <span class="nav-icon"><i class="bi bi-people"></i></span>
        <span class="nav-text">Clients</span>
    </NavLink>

    <NavLink class="nav-link" href="households">
        <span class="nav-icon"><i class="bi bi-house-door"></i></span>
        <span class="nav-text">Households</span>
    </NavLink>

    <NavLink class="nav-link" href="tasks">
        <span class="nav-icon"><i class="bi bi-list-check"></i></span>
        <span class="nav-text">Tasks</span>
    </NavLink>

    <NavLink class="nav-link" href="documents">
        <span class="nav-icon"><i class="bi bi-file-earmark-text"></i></span>
        <span class="nav-text">Documents</span>
    </NavLink>
    
    <NavLink class="nav-link" href="funds">
        <span class="nav-icon"><i class="bi bi-wallet2"></i></span>
        <span class="nav-text">Financials</span>
    </NavLink>
    
    <NavLink class="nav-link" href="reports">
        <span class="nav-icon"><i class="bi bi-bar-chart"></i></span>
        <span class="nav-text">Reports</span>
    </NavLink>

    <NavLink class="nav-link" href="billing">
        <span class="nav-icon"><i class="bi bi-credit-card"></i></span>
        <span class="nav-text">Billing</span>
    </NavLink>
    
    <div class="nav-divider"></div>
    
    <NavLink class="nav-link" href="settings">
        <span class="nav-icon"><i class="bi bi-gear"></i></span>
        <span class="nav-text">Settings</span>
    </NavLink>
</div>
